<body>
    <h1>Skills as of <%= time %></h1>

    <ul>
      <% skills.forEach(function(t) { %>
        <li>
          <form action="/todos/<%= t.id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <%= t.skill %>
            - 
          <%= t.proficiency ? 'high' : 'low' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
    <a href="/skills/show">Delete Skill</a>
  </body>